@use '@san-siva/stylekit/styles/utils.module.scss' as utils;

// Margin utilities
.margin-top--1 {
	margin-top: utils.space(1);
}

.margin-top--2 {
	margin-top: utils.space(2);
}

.margin-top--3 {
	margin-top: utils.space(3);
}

.margin-top--4 {
	margin-top: utils.space(4);
}

.margin-bottom--1 {
	margin-bottom: utils.space(1);
}

.margin-bottom--2 {
	margin-bottom: utils.space(2);
}

.margin-bottom--3 {
	margin-bottom: utils.space(3);
}

.margin-bottom--4 {
	margin-bottom: utils.space(4);
}

.margin-bottom--6 {
	margin-bottom: utils.space(6);
}

// Link styling
.a--highlighted {
	font-weight: 500;
	text-decoration: underline;
	text-decoration-color: #4242fa;
}
