@use 'utils.module.scss' as utils;

$loading_animation: loading_animation 4s linear infinite;

@keyframes loading_animation {
	0% {
		background-position: 0% 0;
	}

	100% {
		background-position: 100% 0;
	}
}

@keyframes MoveInTop {
	0% {
		transform: translateY(#{utils.rem(200)});
		opacity: 0;
	}
	100% {
		transform: translateY(0px);
		opacity: 1;
	}
}

@keyframes fadeInDown {
	from {
		opacity: 0;
		transform: translateY(#{utils.rem(-20)});
	}
	to {
		opacity: 1;
		transform: translateY(0);
	}
}

@keyframes fadeUp {
	from {
		opacity: 0;
		transform: translate(-20px, 10px);
	}
	to {
		opacity: 1;
		transform: translate(-20px, 0px);
	}
}
