// Define Colors
$color--primary: #4242fa !default;
$color--primary-light: rgba(66, 66, 250, 0.05) !default;
$color--primary-lighter: rgba(66, 66, 250, 0.02) !default;

$color--primary-accent: #fed600 !default;
$color--primary-accent-light: #fef1c4 !default;
$color--primary-accent-lighter: #fef8e0 !default;

// Secondary Colors
$color--secondary: #3dad84 !default;
$color--secondary-light: #ecf7f3 !default;
$color--secondary-lighter: #f2f9f7 !default;

// Base Colors
$color--base: #ffffff !default;
$color--surface: #f6f6f6 !default;
$color--code: #e8f1fc !default;
$color--code-numbers: #6272a4 !default;
$color--base-background: #ddeef8 !default; // Container
$color--base-background-dark: #c5eafc !default;
$color--base-background-darker: #9bd3ed !default;

// Grey Scale
$color--grey-light: #e1e5e9 !default;
$color--grey-medium-light: #95a1b1 !default;
$color--grey-medium: #c6c6c7 !default;
$color--grey-medium-dark: #d9d9d9 !default;
$color--grey-dark: #6b7c93 !default;
$color--grey-darker: #4f5969 !default;

$color--pink: #e60067 !default;

// Error Colors
$color--error: #ff4232 !default;
$color--error-light: #ffecea !default;

// Link Colors
$color--link: #0d6efd !default;

// Dark & Black Colors
$color--dark: #313030 !default;
$color--black: #000 !default;

$color--glass: rgba(255, 255, 255, 0.85) !default;
$color--border: #6b7c9333 !default;

.error {
	color: $color--error;
}

$color--shadow: drop-shadow(0px 4px 4px rgba(0, 1, 1, 0.02)) !default;
$color--shadow-dark: drop-shadow(0px 2px 2px rgba(0, 1, 1, 0.18)) !default;
